.idea/*
build/*
*.pytest_cache/*
.venv/*
dist/*
*.egg-info/*
*/__pycache__/*
*/*/__pycache__/*
experiments/*
external/*
runs/*
*runs*
*.pt
*.pdf
*.npy
*.pth
*.pkl
*.txt
*.out
*/MUJOCO_LOG.TXT
*.lock
.env
.png
